<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>회원가입</title>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="/user/css/common/form-common.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<form id="registerForm">
	<h1>회원가입</h1>

	<label>이메일:
		<input type="email" name="email" required><br>
		<span class="error-msg" id="emailError"></span>
	</label>

	<label>닉네임:
		<input type="text" name="nickname" required><br>
		<span class="error-msg" id="nicknameError"></span>
	</label>

	<label>비밀번호:
		<div class="input-wrapper">
			<input type="password" name="password" id="password" required>
			<i class="fa-solid fa-eye toggle-password" onclick="toggleVisibility(this, 'password')"></i>
		</div>
		<span class="error-msg" id="passwordError"></span>
	</label>

	<label>비밀번호 확인:
		<div class="input-wrapper">
			<input type="password" name="confirmPassword" id="confirmPassword" required>
			<i class="fa-solid fa-eye toggle-password" onclick="toggleVisibility(this, 'confirmPassword')"></i>
		</div>
		<span class="error-msg" id="confirmPasswordError"></span>
	</label>

	<button type="submit">가입하기</button>
</form>

<div id="message"></div>

<script src="/user/js/auth/password-toggle.js"></script>

<script src="/user/js/auth/register.js"></script>
</body>
</html>