<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>비밀번호 변경</title>
	<link rel="stylesheet" href="/user/css/user/changePassword.css">
	<script src="/user/js/user/changePassword.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container">
	<h2>비밀번호 변경</h2>
	<form id="pwForm">
		<label>현재 비밀번호
			<input type="password" name="currentPassword" required>
			<span id="currentPasswordError" class="error-msg"></span>
		</label>
		<label>새 비밀번호
			<input type="password" name="newPassword" required>
			<span id="newPasswordError" class="error-msg"></span>
		</label>
		<label>새 비밀번호 확인
			<input type="password" name="confirmPassword" required>
			<span id="confirmPasswordError" class="error-msg"></span>
		</label>
		<button type="submit">변경하기</button>
	</form>
</div>


</body>
</html>