<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.snippets.snippetExt.mapper.SnippetExtMapper">

    <resultMap id="colorMap" type="kr.or.kosa.snippets.snippetExt.model.ColorExt">
        <id property="colorId" column="COLOR_ID"/>
        <result property="hexCode" column="HEX_CODE"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <insert id="insertSnippet" useGeneratedKeys="true" keyProperty="snippetId">
        insert into snippets (source_url, type, color_id, memo, user_id)
        values (#{sourceUrl}, #{type}, #{colorId}, #{memo}, #{userId})
    </insert>

    <insert id="insertSnippetText">
        insert into snippet_texts (snippet_id, content)
        values (#{snippetId}, #{content})
    </insert>

    <insert id="insertSnippetCode">
        insert into snippet_codes (snippet_id, content, language)
        values (#{snippetId}, #{content}, #{language})
    </insert>

    <insert id="insertSnippetImg">
        insert into snippet_images (snippet_id, image_url, alt_text)
        values (#{snippetId}, #{imageUrl}, #{altText})
    </insert>

    <update id="updateSnippet">
        update snippets
        set color_id = #{colorId},
            memo     = #{memo}
        where snippet_id = ${snippetId}
    </update>

    <delete id="deleteSnippet">
        delete
        from snippets
        where snippet_id = #{id}
    </delete>

    <select id="findUserIdBySnippetId" resultType="long">
        select user_id
        from snippets
        where snippet_id = #{snippetId}
    </select>

    <select id="countDuplicate" resultType="int">
        <choose>
            <when test="typeName == 'TEXT'">
                SELECT COUNT(1)
                FROM snippets s
                JOIN snippet_texts t ON s.snippet_id = t.snippet_id
                WHERE s.USER_ID = #{userId}
                AND s.TYPE = #{typeName}
                AND s.SOURCE_URL = #{sourceUrl}
                AND t.CONTENT = #{content}
            </when>
            <when test="typeName == 'CODE'">
                SELECT COUNT(1)
                FROM snippets s
                JOIN snippet_codes c ON s.snippet_id = c.snippet_id
                WHERE s.user_id = #{userId}
                AND s.type = #{typeName}
                AND c.language = #{language}
                AND c.content = #{content}
            </when>
            <when test="typeName == 'IMG'">
                SELECT COUNT(1)
                FROM snippets s
                JOIN snippet_images i ON s.snippet_id = i.snippet_id
                WHERE s.user_id = #{userId}
                AND s.type = #{typeName}
                AND i.image_url = #{imageUrl}
            </when>
            <otherwise>
                SELECT 0
            </otherwise>
        </choose>
    </select>

    <select id="findColorsByUserId" resultMap="colorMap">
        select color_id, hex_code, name
        from snippet_colors
        where user_id = #{userId}
           or user_id = 0
        order by color_id desc
    </select>

</mapper>
