<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosa.snippets.snippetExt.mapper.SnippetExtMapper">

    <!-- SnippetResultMap  -->
    <!--    <resultMap id="SnippetResultMap" type="com.example.model.SnippetExt">-->
    <!--        <id property="snippetId" column="snippet_id"/>-->
    <!--        <result property="sourceUrl" column="source_url"/>-->
    <!--        <result property="type" column="type"/>-->
    <!--        <result property="colorId" column="color_id"/>-->
    <!--    </resultMap>-->

    <!-- SnippetTextResultMap -->
    <!--    <resultMap id="SnippetTextResultMap" type="com.example.model.SnippetExt">-->
    <!--        <id property="snippetId" column="snippet_id"/>-->
    <!--        <result property="sourceUrl" column="source_url"/>-->
    <!--        <result property="type" column="type"/>-->
    <!--        <result property="colorId" column="color_id"/>-->
    <!--        <result property="content" column="content"/>-->
    <!--    </resultMap>-->

    <insert id="insertSnippet" useGeneratedKeys="true" keyProperty="snippetId">
        INSERT INTO SNIPPETS (SOURCE_URL, TYPE, COLOR_ID, MEMO, USER_ID)
        VALUES (#{sourceUrl}, #{type}, #{colorId}, #{memo}, #{userId})
    </insert>

    <insert id="insertSnippetText">
        INSERT INTO SNIPPET_TEXTS (SNIPPET_ID, CONTENT)
        VALUES (#{snippetId}, #{content})
    </insert>

    <insert id="insertSnippetCode">
        INSERT INTO SNIPPET_CODES (SNIPPET_ID, CONTENT, LANGUAGE)
        VALUES (#{snippetId}, #{content}, #{language})
    </insert>

    <insert id="insertSnippetImg">
        INSERT INTO SNIPPET_IMAGES (SNIPPET_ID, IMAGE_URL, ALT_TEXT)
        VALUES (#{snippetId}, #{imageUrl}, #{altText})
    </insert>

    <update id="updateSnippet">
        UPDATE SNIPPETS
        SET COLOR_ID = #{colorId},
            MEMO     = #{memo}
        WHERE SNIPPET_ID = ${snippetId}
    </update>

    <delete id="deleteSnippet">
        DELETE
        FROM SNIPPETS
        WHERE SNIPPET_ID = #{id}
    </delete>

    <select id="findUserIdBySnippetId" resultType="long">
        SELECT USER_ID
        FROM SNIPPETS
        WHERE SNIPPET_ID = #{snippetId}
    </select>

    <select id="countDuplicate" resultType="int">
        <choose>
            <when test="typeName == 'TEXT'">
                SELECT COUNT(1)
                FROM SNIPPETS s
                JOIN SNIPPET_TEXTS t ON s.snippet_id = t.snippet_id
                WHERE s.USER_ID = #{userId}
                AND s.TYPE = #{typeName}
                AND s.SOURCE_URL = #{sourceUrl}
                AND t.CONTENT = #{content}
            </when>
            <when test="typeName == 'CODE'">
                SELECT COUNT(1)
                FROM SNIPPETS s
                JOIN SNIPPET_CODES c ON s.snippet_id = c.snippet_id
                WHERE s.USER_ID = #{userId}
                AND s.TYPE = #{typeName}
                AND c.LANGUAGE = #{language}
                AND c.CONTENT = #{content}
            </when>
            <when test="typeName == 'IMG'">
                SELECT COUNT(1)
                FROM SNIPPETS s
                JOIN SNIPPET_IMAGES i ON s.snippet_id = i.snippet_id
                WHERE s.USER_ID = #{userId}
                AND s.TYPE = #{typeName}
                AND i.IMAGE_URL = #{imageUrl}
            </when>
            <otherwise>
                SELECT 0
            </otherwise>
        </choose>
    </select>


</mapper>
